body {
	font-family: "Helvetica", "Arial", sans-serif;
}

#main {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}

form {
	padding: 40px 0;
}

label {
	display: block;
	font-weight: bold;
}

input[type="text"] {
	width: 300px;
	text-align: center;
	padding: 10px;
	font-size: 40px;
	display: block;
	margin: 20px auto;
}

input[type="submit"] {
	width: 200px;
	padding: 10px;
	font-size: 30px;
	display: block;
	margin: 20px auto;
}

.error {
	color: red;
	display: none;
}

.success {
	color: green;
	display: none;
}